body {
    background-color: #ffaa80;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    min-width: 400px;
    margin: 0;
    padding: 0;
}

#container {
    background-color: white;
    color: #222;
    padding: 25px;
    border-radius: 20px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    min-width: 300px;
    max-width: 80vw;
}

#title {
    font-size: 1.5rem;
    font-weight: 400;
    text-align: center;
}

#icon {
    display: block;
    margin: 0 auto;
    padding-bottom: 1rem;
}

#chat-section {
    margin: 1rem 0;
    text-align: center;
}

.material-button {
    display: inline-block;
    border: none;
    padding: 10px 20px;
    margin: 10px 2px;
    text-decoration: none;
    background-color: #ff6600;
    color: white;
    font-size: 14px;
    line-height: 1.5;
    transition: background-color 0.3s ease;
    text-align: center;
    cursor: pointer;
    border-radius: 4px;
}

.material-button:hover {
    background-color: #ff3300;
}

#user-message {
    background-color: white;
    color: black;
    padding: 1rem;
    border-radius: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 1rem;
    font-size: 1.1rem;
    max-width: 80vw;
}

.nav-button {
    border: none;
    background-color: #ff6600;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}


.nav-button:hover {
    background-color: #ff3300;
}

.hidden {
    display: none;
}