body {
    margin: 0;
    padding: 0;
    background-color: #F5F5F5;
    font-family: 'Courier New', 'Courier', 'monospace';
    color: #333333;
    /* Dark gray color for better readability */
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 450px;
    min-height: 600px;
}

/* Header container style */
#header-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Icon style */
#icon {
    margin-right: 2rem;
}

/* Title style */
#title {
    font-size: 2rem;
    font-weight: 300;
    text-align: center;
    color: #333333;
    /* Dark gray color for better readability */
}

/* Main buttons container style */
#main-buttons {
    margin: 1rem 0;
    text-align: center;
}

#get-recipe-btn {
    display: flex;
    flex-direction: row;
}

#buttonText {
    margin-left: 1rem;
    font-size: 1rem;
}

/* Material button style */
.material-button {
    display: inline-block;
    border: none;
    padding: 10px 20px;
    margin: 10px 2px;
    text-decoration: none;
    background-color: #FF6F61;
    /* A warmer color that is food-like */
    color: white;
    /* White for contrast */
    font-size: 14px;
    line-height: 1.5;
    transition: background-color 0.3s ease;
    text-align: center;
    cursor: pointer;
    border-radius: 4px;
}

.material-button:hover {
    background-color: #FF3D33;
    /* A darker color for hover state */
}

/* Recipes container style */
#recipes-container {
    width: 85vw;
}

/* Button container style */
#button-container {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

/* Message style */
.message {
    background-color: #FFF8E1;
    /* Light color for messages */
    color: #333333;
    /* Dark gray color for better readability */
    padding: 1rem;
    border-radius: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    /* Lighter shadow for a softer look */
    margin-bottom: 1rem;
    font-size: .95rem;
}

/* Navigation button style */
.nav-button {
    border: none;
    background-color: #FF6F61;
    /* Same color as main action buttons */
    color: white;
    /* White for contrast */
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.nav-button:hover {
    background-color: #FF3D33;
    /* Darker color for hover state */
}

.hidden {
    display: none;
}